*, *::before, *::after {
box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    box-sizing: border-box;
    margin: 0;
  
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00b43e;
    height: 80px;
    padding: 1em;
    box-shadow: 0 0 5px rgb(91, 93, 94) inset;
}

.logo{
    width: 100%;
    height: 100%;
}

.logo-img{
    object-fit: contain;
    object-position: center;
    width: 80px;
    height: 50px;
}

.icons-nav{
   
}
.icon{
    color: #fff;
    font-size: 2rem;
}
.search-row{
    height: 20rem;
    background-color: #00b43e;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 9em 1em 1em 1em;
    text-align: center;
}
.search-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.search-options  input{
    background: transparent;
    border: none;
}
.search-options select{
    padding: .6em;
    border: none;
    border-radius: 10px;
}
.search-bar{
    background-color: #fff;
    padding: .5em;
    border-radius: 10px;
}

.text-white{
    color: #fff;

}

.categories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
}
